venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
/db.sqlite3
/media/*
!/media/.gitkeep
!/media/products/
!/media/products/.gitkeep
.DS_Store
node_modules/
frontend/node_modules/
frontend/build/
*.log
.env
